<h1>MTGAPI</h1>
<p>
This is a card database API for "Magic: The Gathering". It is simple and free, and you can use it freely in your 
applications.  
</p>

<ul>
<li>
Card
</li>
<ul>
<li>
Get a card
</li>
</ul>
<li>
CardSets
<ul>
<li>Get a set</li>
<li>Get all cards in a set</li>
</ul>
</li>
<ul>