<html>
<head>
<title>MtgDb.info API - Magic: the gathering open database Web API</title>
<meta name="description" content="MtgDb.info API provides developers the ability to access Magic: the gathering card database
through an easy to use JSON API." />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css" />
</head>
<body>
<div style="padding:0px 50px 10px 50px;">
<h1>api.mtgdb.info <small><i>beta 2</i> (<a href="https://www.mtgdb.info">https://www.mtgdb.info</a>) </small>
</h1>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBKF8qyNVqPXPMdSQj/RKBFb88+7IutKc9SKXaXd0SzHHjmyu1POTT+APIs7gT+ErbDi8sFCTLj5lAH4Aof3kz1kFZ/0nZL6griQehnqbYHQmczwer07sciqbsmoP/8cR0+vsLVGFRgfdyPTpOIBoUG5CHB5xlTStb4nGWE8rbEqTELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIAAnwWW3XxsiAgYiIgFM2C0RRdJFiQw+H5/1AcMFjfa4KKKa0Pr/cP+IMu9ZCvCWXa6fCJ+l2twBvnmGcFdZ4g7rPmFoRFwnwq2W39PaASP5gvrgBwRMdLCK/jd3NB6T/1CDwf5mNAC5/fOdKQrNaOcXvH3qDPT1CNXZ5mV2cglYsHFD9KHCECJv/m0hCuusBbeQooIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQwMzA4MTk0NTAxWjAjBgkqhkiG9w0BCQQxFgQUvrFw4tweADtSdjN367I1W9drIM0wDQYJKoZIhvcNAQEBBQAEgYBBGabS3JrVOXZ3ApL15AfzVs8UOu7/h6FECsOMjJcDJt47W9Uttlv28XkHehWmVEN4ap5dXX34QUbaBxYHqwaZa9vqa+1h1KinUsze2w8PgSgh2HBiTrbkfxljLsd0i2gxC2KUZFmWbWtWj3AjKDCTYRREM8XcZxvN2T1REsCUqw==-----END PKCS7-----
">
<input type="image" src="http://api.mtgdb.info/content/images/donate.png" style="position: absolute; top: 0; right: 0; border: 0;" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<h2>
<small>A card database API for "Magic: The Gathering". Ultra simple. Open source. JSON API to create your own "Magic:
the gathering database". <b>Supports http and https.</b></small>
</h2>

<p>
<h4>Download drivers/wrappers:</h4>
<a href="~/content/download/MtgDb.Info.Driver.zip"><span class="label label-default">C#</span></a> More to come ...
</p>
<p>
For server status and updates:
</p>
<a href="https://twitter.com/mtgdb" class="twitter-follow-button" data-show-count="false">Follow</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br />
    <h1>Card Images</h1>
    <pre>
    http://api.mtgdb.info/content/card_images/{multiverseid}.jpeg
    https://api.mtgdb.info/content/card_images/{multiverseid}.jpeg

    Large Hi-Res Images
    http://api.mtgdb.info/content/hi_res_card_images/{multiverseid}.jpg
    https://api.mtgdb.info/content/hi_res_card_images/{multiverseid}.jpg
    </pre>

	<h1>Card</h1>
	<pre>
    id                  Integer     : multiverse Id
    relatedCardId       Integer     : multiverse Id of a related card, double faced and relying card
    setNumber           Integer     : card number in the set
    name                String      : name of the card
    searchName          String      : easy to search card name
    description         String      : the cards actions
    flavor              String      : flavor text adds story, does not effect game
    colors              String[]    : colors of card
    manacost            String      : the description of mana to cast spell
    convertedManaCost   Integer     : the amount of mana needed to cast spell
    cardSetName         String      : the set or expansion the card belongs to
    type                String      : the type of card
    subType             String      : subtype of card
    power               Integer     : attack strength
    toughness           Integer     : defense strength 
    loyalty             Integer     : loyalty points usually on planeswalkers
    rarity              String      : the rarity of the card
    artist              String      : artist of the illustrations
    cardSetId           String      : the abbreviated name of the set
    rulings             Ruling[]    : list of rulings for this card
    formats             String[]    : list of legal formats this card is in
    releasedAt          Date        : when the card was released
	</pre>
    <h1>Ruling</h1>
    <i>This is the ruling format. The list of rulings is returned in the card object</i>
    <pre>
    releasedAt          Date        : when the rule was released
    rule                String      : the rule
    </pre>
	<div style="border: solid black 1px;padding:5px;">
		<h4>Get all cards</h4>
		<code>
		Get
		http://api.mtgdb.info/cards/
		</code>
        <br />
        <b>Field select</b><br />
        When calling /cards/ a field select can be applied to return only the fields specified. Separate with
        a comma. This can be combined with filters. <br />
        <code>
        Get
        http://api.mtgdb.info/cards/?fields=id,name,cardsetid
        </code>
		<br />

        <b>Filters</b><br />
        <code>
        Get
        http://api.mtgdb.info/cards/?colors=white,black
        </code>
        <br />
        <small><i>Filters can be applied on any field /?field_name=value. Multple fields can be used. Note that each field
        is "And" logic. "Or" logic has not yet been implmented.</i></small><br /><br />

		<h4>Get a card</h4>
		<code>
		Get
		http://api.mtgdb.info/cards/[id]
		</code><br />

        <h4>Get cards by multiple Ids</h4>
        <code>
        Get
        http://api.mtgdb.info/cards/[int,int,int,int,...]
        </code>
        <br />
        <small>
        This method returns an array of cards by multiverseIds. This is useful for making one call for multiple cards
        instead of individual calls for multiple cards. 
        example:  http://api.mtgdb.info/cards/1,2,3,4,5
        </small>
        <br />

        <h4>Get cards by name</h4>
        <code>
        Get
        http://api.mtgdb.info/cards/[name]
        </code>
        <br />
        <small>
        This method returns an array of cards not a single card. When calling by name, strip all non alphanumeric 
        characters in the name. For example:  "Circle of Protection: Red" will cause an error because of the colon. 
        "Circle of Protection Red" is the proper format. 
        </small>
        <br />
        <h4>Search Cards <small>[Alpha feature]</small></h4>
        <code>
        Get
        http://api.mtgdb.info/search/[text]
        </code>
        <br />
        <small>
        A very basic match search. It will match text in the "searchName" field. <br />
        <b>
        This will get more advanced in future versions and will eventually have "full text search" functionality.
        </b>
        </small>
        <br />
	</div>
    <h1>CardSet</h1>
	<pre>
	id          String    : abbreviated name of set   
	name        String    : name of set
	block       String    : name of block the set is part of
	description String    : information about the set
	wikipedia   String    : link to wiki page
	common      Integer   : amount of common cards in set
	uncommon    Integer   : amount of uncommon cards in set
	rare        Integer   : amount of rare cards in set
	mythicRare  Integer   : amount of mythic rare cards in set
	basicLand   Integer   : amount of basic land cards in set
	releasedAt  Date      : date set was released
	cardIds     Integer[] : multiverse ids of all the cards in the set
	</pre>
	<div style="border: solid black 1px;padding:5px;">
    	<h4>Get all sets</h4>
    	<code>
    	Get
    	http://api.mtgdb.info/sets/
        </code>

        <h4>Get multiple sets</h4>
        Example: http://api.mtgdb.info/sets/all,arb,ths 
        <br />
        <code>
        Get
        http://api.mtgdb.info/sets/[string, string, string]
        </code>

    	<h4>Get a set</h4>
    	<code>
    	Get
    	http://api.mtgdb.info/sets/[id]
    	</code>
    	<h4>Get all cards in a set</h4>
    	<code>
    	Get
    	http://api.mtgdb.info/sets/[id]/cards/
    	</code><br />
         <b>Field select</b><br />
        When calling sets/[id]/cards/ a field select can be applied to return only the fields specified. Separate with
        a comma. 
        <code>
        Get
        http://api.mtgdb.info/sets/[id]/cards/?fields=setnumber,id,name
        </code>

        <h4>Get a range of cards in a set</h4>
        <code>
        Get
        http://api.mtgdb.info/sets/[id]/cards/?start=1&end=10
        </code><br />
        <small><i>Ranges are inclusive, start=1&end=10 will include card 1 to 10 inclusive.
        </i></small>
	</div>
<hr />
<p>Please send feature request, comments, corrections or anything else to: 
<a href="mailto:planeswalker@mtgdb.info">planeswalker@mtgdb.info</a>
or at <a href="https://github.com/planeswalkers/api.mtgdb.info/issues">GitHub</a>
</p>
<p>
&copy; 3xS-Rad @DateTime.Now.Year.ToString()
</p>
<p>
All information provided is copyrighted by Wizards of the Coast. This api and/or web applications
on this domain are not in anyway affiliated with Wizards of the Coast.</p>
</div>
</body>
</html>