<html>
<head>
<title>MtgDb.info API - Magic: the gathering open database Web API</title>
<meta name="description" content="MtgDb.info API provides developers the ability to access Magic: the gathering card database
through an easy to use JSON API." />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css" />
</head>
<body>
<div style="padding:0px 50px 10px 50px;">
<h1>api.mtgdb.info <small><i>beta</i></small>
</h1>
<a href='https://pledgie.com/campaigns/23315'><img style="position: absolute; top: 0; right: 0; border: 0;" 
src="~/content/images/donate.png" alt="Support the project and donate." /></a>
<h2>
<small>A card database API for "Magic: The Gathering". Ultra simple. Open source. JSON API to create your own "Magic:
the gathering database". </small>
</h2>
<!-- <div class="alert alert-danger">
<b>New release coming in Feb. 2014.</b> There are some changes in the JSON formatting. It will 
follow the google guildlines for JSON. 
<a href="http://google-styleguide.googlecode.com/svn/trunk/jsoncstyleguide.xml?showone=Property_Name_Format#Property_Name_Format">
Guidelines here
</a>
<b>This is going to break code using the old format. The new format is available now. We will be locking 
this format, and there will be no field format changes in the future. Yes fields will be added, but the naming and 
format will not change.</b> 
</div>
<br /> -->

<p>Please send feature request, comments, corrections or anything else to: 
<a href="mailto:planeswalker@mtgdb.info">planeswalker@mtgdb.info</a>
or at <a href="https://github.com/planeswalkers/api.mtgdb.info/issues">GitHub</a></p>
<p>
For server status and updates:
</p>
<a href="https://twitter.com/mtgdb" class="twitter-follow-button" data-show-count="false">Follow</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<h1>Card</h1>
	<pre>
    id                  Integer     : multiverse Id
    setNumber           Integer     : card number in the set
    name                String      : name of the card
    searchName          String      : easy to search card name
    description         String      : the cards actions
    flavor              String      : flavor text adds story, does not effect game
    colors              String[]    : colors of card
    manacost            String      : the description of mana to cast spell
    convertedManaCost   Integer     : the amount of mana needed to cast spell
    cardSetName         String      : the set or expansion the card belongs to
    type                String      : the type of card
    subType             String      : subtype of card
    power               Integer     : attack strength
    toughness           Integer     : defense strength 
    loyalty             Integer     : loyalty points usually on planeswalkers
    rarity              String      : the rarity of the card
    artist              String      : artist of the illustration
    cardImage           String      : the url of the card image
    cardSetId           String      : the abbreviated name of the set
    rulings             Ruling[]    : list of rulings for this card
    formats             String[]    : list of legal formats this card is in
    releasedAt          Date        : when the card was released
	</pre>
    <h1>Ruling</h1>
    <i>This is the ruling format. The list of rulings is returned in the card object</i>
    <pre>
    releasedAt          Date        : when the rule was released
    rule                String      : the rule
    </pre>
	<div style="border: solid black 1px;padding:5px;">
		<h4>Get all cards</h4>
		<code>
		Get
		http://api.mtgdb.info/cards/
		</code>
        <br />
        <b>Field select</b><br />
        When calling /cards/ a field select can be applied to return only the fields specified. Separate with
        a comma. This can be combined with filters. <br />
        <code>
        Get
        http://api.mtgdb.info/cards/?fields=id,name,cardsetid
        </code>
		<br />

        <b>Filters</b><br />
        <code>
        Get
        http://api.mtgdb.info/cards/?colors=white,black
        </code>
        <br />
        <small><i>Filters can be applied on any field /?field_name=value. Multple fields can be used. Note that each field
        is "And" logic. "Or" logic has not yet been implmented.</i></small><br /><br />

		<h4>Get a card</h4>
		<code>
		Get
		http://api.mtgdb.info/cards/[id]
		</code><br />

        <h4>Get cards by multiple Ids</h4>
        <code>
        Get
        http://api.mtgdb.info/cards/[int,int,int,int,...]
        </code>
        <br />
        <small>
        This method returns an array of cards by multiverseIds. This is useful for making one call for multiple cards
        instead of individual calls for multiple cards. 
        example:  http://api.mtgdb.info/cards/1,2,3,4,5
        </small>
        <br />

        <h4>Get cards by name</h4>
        <code>
        Get
        http://api.mtgdb.info/cards/[name]
        </code>
        <br />
        <small>
        This method returns an array of cards not a single card. When calling by name, strip all non alphanumeric 
        characters in the name. For example:  "Circle of Protection: Red" will cause an error because of the colon. 
        "Circle of Protection Red" is the proper format. 
        </small>
        <br />

		


		
        <h4>Search Cards <small>[Alpha feature]</small></h4>
        <code>
        Get
        http://api.mtgdb.info/search/[text]
        </code>
        <br />
        <small>
        A very basic match search. It will match text in the "searchName" field. <br />
        <b>
        This will get more advanced in future versions and will eventually have "full text search" functionality.
        </b>
        </small>
        <br />
	</div>
    <h1>CardSet</h1>
	<pre>
	id          String    : abbreviated name of set   
	name        String    : name of set
	block       String    : name of block the set is part of
	description String    : information about the set
	wikipedia   String    : link to wiki page
	common      Integer   : amount of common cards in set
	uncommon    Integer   : amount of uncommon cards in set
	rare        Integer   : amount of rare cards in set
	mythicRare  Integer   : amount of mythic rare cards in set
	basicLand   Integer   : amount of basic land cards in set
	releasedAt  Date      : date set was released
	cardIds     Integer[] : multiverse ids of all the cards in the set
	</pre>
	<div style="border: solid black 1px;padding:5px;">
    	<h4>Get all sets</h4>
    	<code>
    	Get
    	http://api.mtgdb.info/sets/
        </code>
    	<h4>Get a set</h4>
    	<code>
    	Get
    	http://api.mtgdb.info/sets/[id]
    	</code>
    	<h4>Get all cards in a set</h4>
    	<code>
    	Get
    	http://api.mtgdb.info/sets/[id]/cards/
    	</code><br />
         <b>Field select</b><br />
        When calling sets/[id]/cards/ a field select can be applied to return only the fields specified. Separate with
        a comma. 
        <code>
        Get
        http://api.mtgdb.info/sets/[id]/cards/?fields=setnumber,id,name
        </code>

        <h4>Get a range of cards in a set</h4>
        <code>
        Get
        http://api.mtgdb.info/sets/[id]/cards/?start=1&end=10
        </code><br />
        <small><i>Ranges are inclusive, start=1&end=10 will include card 1 to 10 inclusive.
        </i></small>
	</div>
<p>
All information provided is copyrighted by Wizards of the Coast. This api and/or web applications
on this domain are not in anyway affiliated with Wizards of the Coast.</p>
<p>&copy; SuperSimpleSuperRad (Triple S Rad) 2013</p>
</div>

</body>
</html>