<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.2.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net45" />
  <package id="Nancy" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Serialization.JsonNet" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="System.Linq.Dynamic" version="1.0.2" targetFramework="net45" />
</packages>